<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= stickerName %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<style>
.image {
    height: <%= height %>px;
    width: <%= width %>px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em;
}
</style>

<body>
    <div class="image">
        <h1>My name is <%= firstname %> <%= lastname %></h1>
    </div>
</body>

</html>